#race {
	text-align: center;
	background-color: #242021;
}

h1, h2, h3 {
	color: #a2a2a2;
}

h3 {
	font-size: 25px;
	/* margin-right: 51%; */
}

h2 {
	font-size: 35px;
}

h1 {
	font-size: 50px;
}

.td1, .td2 {
	color: #a2a2a2;
	padding: 2%;
}

.raceBtn, .startBtn {
	background-color: transparent;
	border: 1px solid white;
	color: #a2a2a2;
	width: 18%;
	border-radius: 0.4rem;
	margin: 0 1%;
}

.track {
	height: 350px;
	width: 100%;
}

.title-car {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.race-track {
	position: relative;
	left: 0px;
	top: 20px;
	opacity: 0.5;
	width: 100%;
}

.car {
	width: 18rem;
	animation-fill-mode: forwards;
}

.annouce {
	position: absolute;
	left: 0;
	right: 0px;
	top: 70px;
	opacity: 0;
}

.second-table {
	/* display: none; */
	margin-top: 5%;
}

.counting {
	position: absolute;
	left: 0;
	right: 0px;
	top: 100px;
	font-size: 100px;
	opacity: 0;
}

.pink-car {
	position: absolute;
	left: 0;
	top: 2%;
}

.red-car {
	position: absolute;
	left: 0;
	top: 50%;
}

.py-no {
	padding: 0;
}

.my-Top {
	margin-top: 20px;
}

.text-white {
	color: white;
}

.results1 {
	opacity: 0;
}

/* 
.border {
	border: 1px solid white;
} */

.span {
	font-size: 1.5rem;
	font-weight: bold;
}

.results2 {
	opacity: 0;
}

.colorText1 {
	color: grey;
	padding: 2%;
	margin: 3%;
}

/* width: 100%;
} */

table {
	border-collapse: collapse;
	width: 100%;
}

tr {
	border: 0;
}

td {
	border: 1px solid white;
}

/* td {
	border-collapse: collapse;
	border: 1px solid white;
	opacity: 0;
} */

/*use these below*/

/*car1 color*/

/*color: #ffebf7;*/

/*car2 color*/

/*color: #ba0000;*/